body {
  background: radial-gradient(
    circle at 0.1 0.2,
    rgb(253, 193, 104) 0,
    rgb(251, 128, 128) 0.9
  );
}

.container {
  margin-top: 80px;
  width: 675px;
  opacity: 0.85;
}

.outside {
  border: none;

  padding: 40px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.weekday {
  font-size: 25px;
  text-align: center;
  color: rgb(255, 95, 109);
}

.icon {
  width: 75px;
  margin: -12px auto;
  filter: hue-rotate(336deg);
}

.daily-temps {
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
  color: black;
  opacity: 0.5;
}

.high {
  font-weight: bolder;
}

.coder {
  margin-top: 5px;
  text-align: center;
  margin-bottom: 80px;
  color: white;
}
