body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(253, 193, 104) 0,
    rgb(251, 128, 128) 90%
  );
}

.container {
  margin-top: 80px;
  max-width: 700px;
  opacity: 0.85;
}

.outside {
  border: none;
  padding: 40px;
}

.coder {
  margin-top: 5px;
  text-align: center;
  margin-bottom: 80px;
  color: white;
}
