.current-city {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 50px;
  color: rgb(255, 95, 109);
}

.current-temp {
  text-align: right;
  margin-top: 20px;
  color: rgb(255, 95, 109);
  font-size: 50px;
  vertical-align: top;
}

.units {
  font-size: 20px;
  vertical-align: top;
  position: relative;
  top: 12px;
}

.sky {
  text-transform: capitalize;
  color: rgb(255, 95, 109);
}

.property {
  color: black;
  opacity: 0.5;
}

.data {
  margin-bottom: 10px;
  color: rgb(255, 95, 109);
}

.weather {
  margin-bottom: 20px;
}

canvas {
  vertical-align: middle;
  position: relative;
  top: 50px;
  right: 50px;
}
